@import url("https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.linklist {
  @apply hover:text-purple-600 font-Mada text-lg  pb-3;
}

ul .active {
  @apply text-purple-600 border-b-2 font-bold border-purple-600 border-separate;
}

.max-w {
  @apply max-w-[1700px] mx-auto;
}

.w-padding {
  @apply px-5 py-3 md:px-14 md:py-10;
}

.bg-login {
  background: url("/public/Images/login-bg.jpg") no-repeat center center/cover;
}

.animation {
  @apply transition-all duration-200 ease-linear;
}

.hero-gradient {
  background: linear-gradient(180deg, #7d89ff 0%, #ab40ff 66.67%);
  border-radius: 5px;
}

.btn {
  @apply bg-white font-Poppins px-10 py-2 text-lg font-bold rounded-sm shadow-sm shadow-gray-400 hover:shadow-md animation;
}

.btn-withbg {
  background: linear-gradient(180deg, #7d89ff 0%, #ab40ff 66.67%);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
  @apply font-Poppins hover:bg-gray-200 px-16 text-white py-2 text-lg font-bold rounded-sm hover:shadow-md animation;
}

.footer-main {
  @apply text-base sm:text-lg font-bold cursor-default font-Poppins;
}

.footer-para {
  @apply font-Poppins text-xs sm:text-sm hover:underline font-normal text-[#F4F4F4];
}

.contact-form {
  @apply w-full border border-[#969696] text-base xsm:text-lg font-Poppins text-[#969696] capitalize focus:border focus:border-purple-700 focus:outline-none focus:text-purple-700 focus:placeholder:text-purple-700  px-3 py-2 xsm:px-5 xsm:py-3 hover:outline-none;
}

.edit-form {
  @apply w-full border border-[#969696] text-base xsm:text-lg font-Poppins font-bold text-[#969696] capitalize focus:border focus:border-purple-700 focus:outline-none focus:text-purple-700 focus:placeholder:text-purple-700  px-3 py-2 xsm:px-5 xsm:py-3 hover:outline-none;
}

.edit-label{
@apply font-Poppins text-lg font-bold text-[#0D1222]
}

.radio-label{
  @apply font-Poppins font-bold text-sm text-[#0D1222]
}

.gradient-text {
  background: linear-gradient(180deg, #7d89ff 0%, #ab40ff 66.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
