@import url("https://fonts.googleapis.com/css2?family=Mada:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.main-Nav {
  @apply w-full bg-white border-b border-gray-50 px-5 md:px-16 py-5 shadow-sm sticky top-0 z-50;
}

.side-Nav {
  @apply w-full bg-white px-5 md:px-16 py-5;
}

.linklist {
  @apply hover:text-purple-600 font-medium  font-Mada text-lg  pb-3;
}

ul .active {
  @apply text-purple-600   lg:border-b-2 font-bold  lg:border-purple-600 border-separate;
}

.navLink {
  @apply font-Mada py-3 px-2 bg-gray-50 w-11/12 text-lg font-medium animation  hover:text-purple-600;
}

.max-w {
  @apply max-w-[1700px] mx-auto;
}

.w-padding {
  @apply px-5 py-3 md:px-14 md:py-10;
}

.bg-login {
  background: url("/public/Images/login-bg.jpg") no-repeat center center/cover;
}

.animation {
  @apply transition-all duration-200 ease-linear;
}

.hero-gradient {
  background: linear-gradient(180deg, #7d89ff 0%, #ab40ff 66.67%);
  border-radius: 5px;
}

.btn {
  @apply bg-white font-Poppins px-10 py-2 text-lg font-bold rounded-sm shadow-sm shadow-gray-400 hover:shadow-md animation;
}

.btn-withbg {
  background: linear-gradient(180deg, #7d89ff 0%, #ab40ff 66.67%);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
  @apply font-Poppins hover:bg-gray-200 px-10 text-white py-2 sm:text-lg font-bold rounded-sm hover:shadow-md animation;
}

.bg-gradient {
  background: linear-gradient(180deg, #7d89ff 0%, #ab40ff 66.67%);
  box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.05);
}

.footer-main {
  @apply text-base sm:text-lg font-bold cursor-default font-Poppins;
}

.footer-para {
  @apply font-Poppins text-xs sm:text-sm hover:underline font-normal text-[#F4F4F4];
}

.contact-form {
  @apply w-full border border-[#969696] text-base xsm:text-lg font-Poppins text-[#969696] capitalize focus:border focus:border-purple-700 focus:outline-none focus:text-purple-700 focus:placeholder:text-purple-700  px-3 py-2 xsm:px-5 xsm:py-3 hover:outline-none;
}

.edit-form {
  @apply w-full border border-[#969696] text-base xsm:text-lg font-Poppins font-bold text-[#969696] capitalize focus:border focus:border-purple-700 focus:outline-none focus:text-purple-700 focus:placeholder:text-purple-700  px-3 py-2 xsm:px-5 xsm:py-3 hover:outline-none;
}

.edit-label {
  @apply font-Poppins text-lg font-bold text-[#0D1222];
}

.radio-label {
  @apply font-Poppins font-bold text-sm text-[#0D1222];
}

.radio-check {
  @apply appearance-none rounded-full h-4 w-4 border border-gray-300 bg-white checked:bg-purple-600 checked:border-purple-600 focus:outline-none transition duration-200 mt-1 align-top bg-no-repeat bg-center bg-contain float-left mr-2 cursor-pointer;
}

.gradient-text {
  background: linear-gradient(180deg, #7d89ff 0%, #ab40ff 66.67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

.category {
  @apply w-20 h-20 cursor-pointer overflow-hidden flex justify-center items-center rounded-full bg-white;
}

.category1 {
  @apply w-full flex flex-col gap-2 justify-end items-center;
}

.category-text {
  @apply text-white text-xs sm:text-sm font-Poppins;
}

.tab {
  @apply font-Mada text-[#646464] hover:text-[#5463FF] text-lg animation cursor-pointer;
}

.active-tabs {
  @apply font-Mada font-bold text-lg  text-[#5463FF] border-b-2 border-[#5463FF] cursor-pointer;
}
